<!DOCTYPE html>
<html>
<head>
  <title><%= t('contact') %></title>
</head>
<body>

<div class="container mx-auto py-10">
  <h1 class="text-3xl font-bold mb-6"><%= t('contact') %></h1>

  <p>
    <%= t('contact_us') %>
  </p>

  <div class="bg-white shadow-md rounded-lg p-6">
    <h2 class="text-xl font-bold mb-4"><%= t('contact_info') %>:</h2>
    <p class="mb-4">
    <%= t('email_address') %><br>
    <%= t('telephone_number') %><br>
    </p>

    <h2 class="text-xl font-bold mb-4"><%= t('address') %>:</h2>
    <p class="mb-4">
      <%= t('appname') %><br>
      <%= t('homepage.street', street: "Eupener Straße 70") %><br>
      <%= t('homepage.zipcode', zip: "52064 Aachen") %><br>
      <%= t('germany') %>
    </p>

  </div>
</div>

</body>
</html>
