<div class="flex items-center justify-center flex-col min-h-screen">
  <h1 class="text-6xl font-bold text-center mb-6 pb-10">
    <span class="text-15xl"><%= t('homepage.welcome') %></span><br> <%= t('appname') %>
  </h1>

  <div class="flex flex-col md:flex-row space-x-0 md:space-x-8 space-y-12 md:space-y-0 justify-center items-center">
    <% if Current.shop%>
      <div class="flex flex-col p-8 rounded-xl bg-gray-200 shadow-xl w-96 md:w-auto">
        <div class="mt-3 font-semibold text-lg">
          <%= link_to t('categories'), shop_categories_path(Current.shop), :class => "text-gray-800 hover:underline" %>
        </div>
      </div>
    <% end %>
    <% if Current.user%>
      <div class="flex flex-col p-8 rounded-xl bg-gray-200 shadow-xl w-96 md:w-auto">
        <div class="mt-3 font-semibold text-lg">
          <%= link_to t('shops'), shops_path, :class => "text-gray-800 hover:underline" %>
        </div>
      </div>
    <% end %>
    <% unless Current.shop or Current.user %>
    <div class="flex flex-col p-8 rounded-xl bg-gray-200 shadow-xl w-96 md:w-auto">
      <div class="mt-3 font-semibold text-lg">
        <%=  link_to t('login'), sessions_path , :class => "text-gray-800 hover:underline" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
