<!DOCTYPE html>
<html>
<head>
  <title><%= t('privacy') %></title>
</head>
<body>
  <div class="container mx-auto py-8">
  <h1 class="text-3xl font-bold mb-6"><%= t('homepage.privacy.policy') %></h1>

  <div class="bg-white shadow-md rounded-lg p-6">
    <p class="mb-4"><span class="font-bold">1. <%= t('privacy') %></span><br>
      <%= t('homepage.privacy.content') %>
    </p>
    <p class="mb-4"><span class="font-bold">2. <%= t('homepage.privacy.data_usage') %></span><br>
      <%= t('homepage.privacy.access_log') %>
    </p>
    <ul class="list-disc pl-8 mb-4">
      <li><%= t('homepage.privacy.ipaddr') %></li>
      <li><%= t('homepage.privacy.date') %></li>
      <li><%= t('homepage.privacy.name_url') %></li>
      <li><%= t('homepage.privacy.data') %></li>
      <li><%= t('homepage.privacy.succesful_access') %></li>
      <li><%= t('homepage.privacy.browser') %></li>
      <li><%= t('homepage.privacy.os') %></li>
      <li><%= t('homepage.privacy.referrer') %></li>
      <li><%= t('homepage.privacy.websites') %></li>
    </ul>
    <p class="mb-4"><%= t('homepage.privacy.data_src') %></p>

    <p class="mb-4"><span class="font-bold">3. <%= t('cookies') %></span><br>
      <%= t('homepage.privacy.cookies_content') %>

    </p>

    <p class="mb-4"><span class="font-bold">4. <%= t('homepage.privacy.data_security') %></span><br>
      <%= t('homepage.privacy.data_security_content') %>
    </p>

    <p class="mb-4"><span class="font-bold">5. <%= t('homepage.privacy.your_rights') %></span><br>
      <%= t('homepage.privacy.your_rights_content') %>
    </p>

    <p class="mb-0"><%= t('homepage.privacy.disclaimer') %></p>
  </div>
</div>

</body>
</html>
