<div class="container p-10">
  <h1 class="text-4xl font-bold"> <%=t('login')%> </h1>

  <%= form_with url: sign_in_path do |form| %>
    <div class="mb-3 mt-3 flex flex-col">
      <%= form.label :email, t('form_labels.email') %>
      <%= form.text_field :email, class: "form-control mt-2 rounded", placeholder: "your.email@test.com" %>
    </div>

    <div class="mb-3 flex flex-col">
      <%= form.label :password, t('form_labels.password') %>
      <%= form.password_field :password, class: "form-control mt-2 rounded", placeholder: t('form_labels.password') %>
    </div>

    <div class="mb-3">
      <%= form.submit t('login'), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"%>
    </div>
  <% end %>
</div>