<div class="flex items-center justify-center h-screen">
<div class="border-2 border-black p-16 rounded">
<h1 class="text-4xl font-bold mb-6 text-center uppercase font-montserrat"><%= t('password.reset') %></h1>

<%= form_for @shop, :url => password_reset_path(params[:id]) do |f| %>
  <% if @shop.errors.any? %>
    <div class='error_messages'>
      <h2><%= t('form_labels.invalid') %></h2>
      <ul>
        <% for message in @shop.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='mb-3 flex flex-col'>
    <%= f.label :password, t('form_labels.password'), class: "font-medium text-lg text-black lowercase font-roboto" %>
    <%= f.password_field :password, class: "mt-2 px-4 py-2 rounded lowercase font-roboto w-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500", placeholder: t('form_labels.email_placeholder') %>
  </div>
  <div class='mb-3 flex flex-col'>
    <%= f.label :password_confirmation, t('form_labels.password_confirmation'), class: "font-medium text-lg text-black lowercase font-roboto" %>
    <%= f.password_field :password_confirmation, class: "mt-2 px-4 py-2 rounded lowercase font-roboto w-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500", placeholder: t('form_labels.email_placeholder') %>
  </div>
  <div class='mt-6 flex justify-center'>
  <%= f.submit t('password.update'), class: "bg-black hover:bg-gray-600 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline uppercase font-montserrat max-h-8" %>
  </div>
<% end %>


  </div>
</div>