<h1><%= t('password.reset') %></h1>

<%= form_for @shop, :url => password_reset_path(params[:id]) do |f| %>
  <% if @shop.errors.any? %>
    <div class='error_messages'>
      <h2><%= t('form_labels.invalid') %></h2>
      <ul>
        <% for message in @shop.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :password, t('form_labels.password') %>
    <%= f.password_field :password %>
  </div>
  <div class='field'>
    <%= f.label :password_confirmation, t('form_labels.password_confirmation') %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class='actions'><%= f.submit t('password.update') %></div>
<% end %>