<div class="flex items-center justify-center h-screen">
<div class="border-2 border-black shadow-lg p-16 rounded">
  <h1><%= t('password.reset') %></h1>
  <%= form_tag password_resets_path, :method => :post do %>
    <div class='field'>
      <%= label_tag :email, t('form_labels.email')%>
      <%= text_field_tag :email, params[:email] %>
    </div>
    <div class='button mt-6'>
      <%= submit_tag t('submit'), class: "bg-black hover:bg-gray-800 text-white font-bold py-2 px-4 focus:outline-none focus:shadow-outline" %>
    </div>
    <% end %>
  </div>
</div>