<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container">
      <h1><%= t('mailer.welcome') %> <%= t('navbar.title') %> !</h1>
      <p>
        <%= t('mailer.signup_success') %> <%= @user.email %>.
      </p>
      <p>
        <%= t('mailer.tologin') %> <%= @url %>.
      </p>
      <p><%= t('mailer.thankyou') %></p>
      <div class="footer">
        &copy; <%= t('mailer.footer') %>
      </div>
    </div>
  </body>
</html>
