<head>
  <title><%= t('navbar.title') %></title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e464ad1dd2.js" crossorigin="anonymous"></script>
  <%= javascript_include_tag "hamburger" %>
</head>

<body>
<div class="w-full relative">
  <nav class="navbar bg-grey-500 text-white">
    <div class="container flex justify-between items-center py-3">
      <div class="navbar-logo font-bold">
        <a href="<%= root_path %>" class="text-3xl font-bold text-gray-800 transition-colors duration-300 md:h-52"><%= t('navbar.title') %></a>
      </div>

      <ul class="nav-menu">
        <% if Current.user %>
          <li class="navbar-profile">
            <%= link_to Current.user.email, edit_password_path, class: "underline hover:text-blue-200 visited:text-grey-300 block rounded focus:outline-none focus:shadow-outline bg-red-500 hover:bg-grey-700 block mb-2" %>
          </li>
          <li class="navbar-profile">
            <%= button_to t('logout'), logout_path, method: :delete, class: "font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline bg-red-500 hover:bg-grey-700 block mb-2" %>
          </li>
          <li class="navbar-profile dashboard-link">
            <%= link_to t('navbar.dashboard'), dashboards_path, :class => "underline hover:text-blue-200 focus:outline-none focus:shadow-outline bg-red-500 hover:bg-grey-700 block mb-2 rounded-lg" %>
          </li>
          <li class="navbar-profile nav-menu-divider"></li>
        <% else %>
          <li class="navbar-profile">
            <%= button_to t('sign_up'), sign_up_path, method: :get, class: "font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline hover:bg-grey-700 block mb-2" %>
          </li>
          <li class="navbar-profile nav-menu-divider"></li>
          <li class="navbar-profile">
            <%= button_to t('login'), sign_in_path, method: :get, class: "font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline hover:bg-grey-700 block mb-2" %>
          </li>
        <% end %>
      </ul>

      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>

      <div class="flex flex-wrap md:w-52">
        <div class="relative">
          <div class="dropdown inline-block">
            <button class="dropdown-toggle overflow-hidden flex items-center text-black gap-2 mt-3" type="button" id="flagDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if I18n.locale == :en %>
                <%= image_tag("united-kingdom.png", width: '30px') %>
              <% elsif I18n.locale == :de %>
                <%= image_tag("germany.png", width: '30px') %>
              <% end %>
              <span class="text-sm font-medium uppercase">
                  <%= I18n.locale%>
                </span>
            </button>
            <div class="dropdown-content flex bg-grey-200 rounded-md shadow-md h-0 w-0">
              <% I18n.available_locales.each do |l| %>
                <a class="dropdown-item flex items-center w-14 bg-gray-700" href="<%= url_for(locale: l) %>">
                  <% if l == :en %>
                    <%= image_tag("united-kingdom.png", width: '30px') %>
                  <% elsif l == :de %>
                    <%= image_tag("germany.png", width: '30px') %>
                  <% end %>
                  <span class="text-sm"></span>
                </a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
</body>
