<head>
  <title><%= t('navbar.title') %></title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e464ad1dd2.js" crossorigin="anonymous"></script>
  <%= javascript_include_tag "hamburger" %>
</head>

<body>
  <div class="w-full relative">
    <nav class="mt-3 text-white">
      <div class="container flex justify-between items-center py-3">
       <div>
        <% if Current.shop %>
           <%= link_to shop_categories_path(Current.shop) do %>
            <%= image_tag("logoblack.png", class: "md:logo w-20 h-15") %>
           <% end %>
        <% else %>
           <%= link_to root_path do %>
            <%= image_tag("logoblack.png", class: "md:logo w-20 h-15") %>
           <% end %>
         <% end %>
        </div>


        <ul class="nav-menu">
          <% if Current.user %>
            <li class="navbar-profile">
              <%= link_to t('navbar.dashboard'), dashboards_path, class: "underline hover:text-blue-200 focus:outline-none focus:shadow-outline bg-red-500 hover:bg-gray-700 block mb-2 rounded-lg" %>
            </li>
            <li class="navbar-profile">
              <%= button_to t('logout'), logout_path, method: :delete, class: "font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline bg-red-500 hover:bg-gray-700 block mb-2 rounded-lg" %>
            </li>
            <li class="navbar-profile">
              <div class="dropdown inline-block">
                <button class="dropdown-toggle overflow-hidden flex items-center text-black gap-2" type="button" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="text-sm uppercase font-bold">
                    <%= I18n.locale.to_s.upcase %>
                  </span>
                </button>
                <div class="dropdown-content flex bg-gray-200 rounded-lg shadow-md h-0 w-0">
                  <% I18n.available_locales.each do |locale| %>
                    <% next if locale == I18n.locale %>
                    <a class="dropdown-item flex items-center w-14" href="<%= url_for(locale: locale) %>">
                      <span class="text-sm text-white font-bold uppercase py-4">
                        <%= locale.to_s.upcase %>
                      </span>
                    </a>
                  <% end %>
                </div>
              </div>
            </li>
            <li class="navbar-profile">
              <%= Current.user.email %>
            </li>
          <% elsif Current.shop %>
            <li class="navbar-profile">
              <%= link_to t('navbar.dashboard'), dashboards_path, class: "underline hover:text-blue-200 focus:outline-none focus:shadow-outline bg-red-500 hover:bg-gray-700 block mb-2 rounded-lg" %>
            </li>
            <li class="navbar-profile">
              <%= button_to t('logout'), logout_shop_path, method: :delete, class: "font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline bg-red-500 hover:bg-gray-700 block mb-2" %>
            </li>
            <li class="navbar-profile">
              <span class="md:text-black md:ml-2 md:pl-2 hidden sm:inline bar1"> | </span>
              <div class="dropdown md:inline-block">
                <button class="dropdown-toggle rounded-lg overflow-hidden items-center text-black transition-colors duration-300 hidden md:inline" type="button" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="text-sm uppercase font-bold">
                    <%= I18n.locale.to_s.upcase %>
                  </span>
                  <i class="fas fa-chevron-down ml-1"></i>
                </button>
                <div class="dropdown-content overflow-hidden  rounded-lg shadow-md pl-1 hidden ">
                  <% I18n.available_locales.each do |locale| %>
                    <% next if locale == I18n.locale %>
                    <a class="dropdown-item hidden items-center text-sm uppercase font-bold w-14" href="<%= url_for(locale: locale) %>">
                      <%= locale.to_s.upcase %>
                    </a>
                  <% end %>
                </div>
            </div>
            <div class="md:hidden inline-block text-center mr-5 gap-2">
              <% I18n.available_locales.each_with_index do |locale, index| %>
                 <a class="inline-block text-sm font-bold w-14 pr-1" href="<%= url_for(locale: locale) %>">
                  <%= locale.to_s %>
                 </a>
              <% if index != I18n.available_locales.size - 1 %>
                <span class=" ml-2 text-black "> | </span>
              <% end %>
             <% end %>
            </div>
            <li class="navbar-profile">
              <span class="md:text-black md:ml-2 md:pl-2 hidden sm:inline bar1"> | </span>
              <%= link_to edit_shop_path(Current.shop), class: "underlinevisited:text-black block rounded focus:outline-none focus:shadow-outline bg-red-500 hover:bg-gray-700 block mb-2" do %>
                <% if Current.shop.image.attached? %>
                  <%= image_tag Current.shop.image, class: "object-cover md:w-12 w-12 rounded-lg inline-block" %>
                <% else %>
                  <%= image_tag "placeholder.jpeg", class: "object-cover md:w-12 w-12 rounded-lg inline-block" %>
                <% end %>
                <%= Current.shop.name%>
              <% end %>
            </li>
          <% else %>
          <li class="navbar-profile">
              <%= button_to t('login'), sessions_path, method: :get, class: "font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline hover:bg-gray-700 block mb-2" %>
            </li>
            <li class="navbar-profile">
              <span class="md:text-black md:ml-2 md:pl-2 hidden sm:inline bar1"> | </span>
              <div class="dropdown">
  <button class="dropdown-toggle rounded-lg overflow-hidden items-center text-black transition-colors duration-300 hidden md:inline" type="button" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="text-sm uppercase font-bold">
      <%= I18n.locale.to_s.upcase %>
    </span>
    <i class="fas fa-chevron-down ml-1"></i> <!-- Add an icon to indicate the dropdown -->
  </button>
  <div class="dropdown-content overflow-hidden rounded-lg shadow-md pl-1 hidden">
    <% I18n.available_locales.each do |locale| %>
      <% next if locale == I18n.locale %>
      <a class="dropdown-item hidden items-center text-sm uppercase font-bold w-14" href="<%= url_for(locale: locale) %>">
        <%= locale.to_s.upcase %>
      </a>
    <% end %>
  </div>
</div>

            <div class="md:hidden text-center mr-4 gap-2">
              <% I18n.available_locales.each_with_index do |locale, index| %>
                 <a class="inline-block text-sm font-bold w-14 pr-1" href="<%= url_for(locale: locale) %>">
                  <%= locale.to_s %>
                 </a>
              <% if index != I18n.available_locales.size - 1 %>
                <span class=" ml-2 text-black "> | </span>
              <% end %>
             <% end %>
            </div>
          </li>
          <% end %>
        </ul>

        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
    </nav>
  </div>
</body>
