<div class="flex items-center justify-center flex-col min-h-screen">
  <%= render "recommender/title", subtitle: t('choose_articles') %>

  <%= form_with(method: :get, data: { controller: "form-submission", turbo_frame: "products", turbo_action: "advance" }) do |form| %>
    <div class="flex space-x-3">
      <%= form.label :query, "Search by Product name:", class: "block mb-2" %>
      <%= form.text_field :query, data: { action: "input->form-submission#search" }, class: "flex flex-col p-4 rounded-xl shadow-xl w-96 md:w-auto" %>
    </div>
  <% end %>

  <%= form_with do |form| %>
    <%= render "products", players: @products %>

    <div class="flex flex-col p-8 rounded-xl bg-blue-400 shadow-xl w-96 md:w-auto">
      <%= form.submit "Submit" %>
    </div>
  <% end %>

</div>