<div class="flex items-center justify-center flex-col min-h-screen">
  <%= render "recommender/title", subtitle: t('choose_articles') %>

  <%= form_with(method: :get, data: { controller: "form-submission", turbo_frame: "products", turbo_action: "advance" }) do |form| %>
    <div class="flex space-x-3">
      <%= form.label :query, t('product_search_box_label'), class: "block mb-2" %>
      <%= form.text_field :query, data: { action: "input->form-submission#search" }, class: "flex flex-col p-4 rounded-xl shadow-xl w-96 md:w-auto" %>
    </div>
  <% end %>

  <%= form_with do |form| %>
    <%= render "products", players: @products %>

    <div class="order-4 rounded-md text-center text-3xl p-4 mb-4 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 hover:opacity-80 flex justify-center items-center w-1/3 h-auto mx-auto">
      <%= form.submit t('form_labels.submit'), class: "bg-blue-500 hover:bg-blue-700 w-auto md:w-42 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"%>
    </div>
  <% end %>

</div>