<!DOCTYPE html>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Get the default value from controller
    const defaultValue = <%= @default_value %>;

    // Generate the chart using Chartkick
    const chart = new Chartkick.ColumnChart('chart', [['Recommendation', defaultValue]], {
      colors: ['#36a2eb'],
      max: 100, // Adjust the maximum value as needed
      library: { scales: { yAxes: [{ ticks: { beginAtZero: true, max: 100 } }] } }
    });
  });
</script>
<html>
<div class="flex flex-wrap h-screen 2xl:w-1/ w-screen left-20">
  <div class=" bg-gray-300 py-4">
    <nav class="flex-1">
      <ul class="space-y-1">
        <li>
          <p class="flex items-center text-center justify-center align-middle text-black font-bold p-2">
            <%= t("dashboard.menu") %> 
          </p>
        </li>
        <li>
          <a href="#" class="flex items-center text-black hover:bg-gray-500 hover:text-white px-4 py-2">
              <%= t("dashboard.recommendation") %> 
          </a>
        </li>
      </ul>
    </nav>
    <div class="text-center items-center justify-center m-2 p-2 mt-20">
       <button class="bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        <%= link_to t('dashboard.homepage'),categories_path %>
       </button>
    </div>
  </div>
  <div class="flex flex-row gap-5 pl-2">
    <h2 class="text-2xl font-bold mb-4"><%= t("dashboard.recommendation_product") %></h2>
  <div class="chart" style="height: 300px;"></div>
</div>
</div>

</html>

