<!DOCTYPE html>
<html lang="de">
<div class="flex flex-col items-center justify-center h-screen">
  <div class="mb-8">
    <button class="w-72 h-16 bg-gray-800 text-white text-lg font-bold rounded-lg shadow-lg hover:bg-gray-700 transition-colors duration-300">
      <a href="<%= t('dashboard.menu_link') %>" class="flex items-center justify-center">
        <%= t('dashboard.menu') %>
      </a>
    </button>
  </div>
  <div class="mb-8">
    <button class="w-72 h-16 bg-gray-800 text-white text-lg font-bold rounded-lg shadow-lg hover:bg-gray-700 transition-colors duration-300">
      <a href="<%= t('dashboard.recommendation_link') %>" class="flex items-center justify-center">
        <%= t('dashboard.recommendation') %>
      </a>
    </button>
  </div>
  <div>
    <button class="w-72 h-16 bg-gray-800 text-white text-lg font-bold rounded-lg shadow-lg hover:bg-gray-700 transition-colors duration-300">
      <a href="<%= categories_path %>" class="flex items-center justify-center">
        <%= t('dashboard.homepage') %>
      </a>
    </button>
  </div>
</div>
</html>
