<!DOCTYPE html>
<html lang="de">
<div class="flex flex-col items-center justify-center h-screen">
  <div class="mb-8">
    <button class="w-72 h-16 bg-black text-lg font-bold rounded-lg shadow-lg">
      <a href="<%= t('dashboard.menu_link') %>" class="flex items-center justify-center text-orange-400 hover:text-orange-600">
        <%= t('dashboard.menu') %>
      </a>
    </button>
  </div>
  <div class="mb-8">
     <button class="w-72 h-16 bg-black text-lg font-bold rounded-lg shadow-lg">
        <%= link_to t('dashboard.recommendation'), dashboard_recommendation_path, class: "flex items-center justify-center text-orange-400 hover:text-orange-600" %>
      </button>
  </div>

  <div>
    <button class="w-72 h-16 bg-black text-lg font-bold rounded-lg shadow-lg">
      <a href="<%= root_path %>" class="flex items-center justify-center text-orange-400 hover:text-orange-600">
        <%= t('dashboard.homepage') %>
      </a>
    </button>
  </div>
</div>
</html>
