<%= javascript_include_tag "file_preview", t: Time.now.to_i %>

<div class="flex justify-center items-center m-4 text-center">
  <%= form_with(model: @category, url: @category.new_record? ? shop_categories_path(@shop) : shop_category_path(@shop, @category), local: true, html: { class: "p-4 rounded-md" }) do |form| %>
    <%= form.hidden_field :shop_id, value: @shop.id %>
    <div class="mb-3 flex flex-col">
      <%= form.label :title, t('form_labels.title'), class: "font-medium text-lg text-black   font-roboto text-left" %>
      <%= form.text_area :title, class: "mt-2 px-4 py-2 rounded   font-roboto w-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" + (form.object.errors.has_key?(:title) ? " border-red-500" : ""), placeholder: t('form_labels.title_placeholder') %>
      <% if form.object.errors.has_key?(:title) %>
        <p class="text-red-500 text-sm"><%= form.object.errors[:title].first %></p>
      <% end %>
    </div>
    <div class="mb-3 flex flex-col">
      <%= form.label :image, t('form_labels.image'), class: "font-medium text-lg text-black   font-roboto text-left" %>
      <%= form.file_field :image, class: "mt-2 px-4 py-2 rounded   font-roboto w-full focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" + (form.object.errors.has_key?(:image) ? " border-red-500" : ""), accept: "image/*", id: "file-input", onchange: "previewFile(this)", placeholder: t('form_labels.upload_image') %>
      
    <% unless @category.new_record? %>
        <% if @category.image.attached? %>
          <%= form.object.image.filename %>
            <div class="w-40 h-40 bg-gray-200 rounded-md overflow-hidden mt-4">
             <%= image_tag @category.image, class: "object-cover mx-auto my-auto rounded-md" %>
            </div>
        <% end %>
    <% end %>
      <div class="w-40 h-40 bg-gray-200 rounded-md overflow-hidden mt-4">
        <div class="object-cover w-full h-full" id="file-preview"></div>
      </div>
      <% if form.object.errors.has_key?(:image) %>
        <p class="text-red-500 text-sm"><%= form.object.errors[:image].first %></p>
      <% end %>
    </div>
    <% unless @category.new_record? %>
      <div class="field pb-4">
        <p><%= t('attributes') %></p>
        <% unless @category.attrs.empty? %>
          <table class="table-auto">
            <thead>
            <tr>
              <th><%= t('attr.name') %></th>
              <th><%= t('attr.attrtype') %></th>
              <th><%= t('attr.unit') %></th>
              <th><%= t('form_labels.status') %></th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <%= render @category.attrs, form: form %>
            </tbody>
          </table>
        <% end %>
        <%= link_to new_shop_category_attr_path(@category.shop, @category) do %>
          <i class="fas fa-plus" title="<%= t('attr.new') %>"></i>
        <% end %>
      </div>
    <% end %>
    <div class="mb-3 flex flex-col">
      <%= form.label :status, t('form_labels.status'), class: "font-medium text-lg text-black   font-roboto text-left" %>
      <% if @category.new_record? %>
        <%= form.select :status, [[t('active'), 'active'], [t('deactivated'), 'deactivated']], selected: 'active', class: "rounded-md mt-2" + (form.object.errors.has_key?(:status) ? " border-red-500" : "") %>
      <% else %>
        <%= form.select :status, [[t('active'), 'active'], [t('deactivated'), 'deactivated']], class: "rounded-md mt-2" + (form.object.errors.has_key?(:status) ? " border-red-500" : "") %>
      <% end %>
      <% if form.object.errors.has_key?(:status) %>
        <p class="text-red-500 text-sm"><%= form.object.errors[:status].first %></p>
      <% end %>
    </div>
    <div>
      <% if @category.new_record? %>
        <%= form.submit t('category.new'), class: "bg-black hover:bg-gray-600 text-white font-bold py-2 px-4 uppercase font-montserrat" %>
      <% else %>
        <%= form.submit t('category.update'), class: "bg-black hover:bg-gray-600 text-white font-bold py-2 px-4 uppercase font-montserrat" %>
      <% end %>
    </div>

    <% if form.object.errors.has_key?(:image) %>
      <span class="text-red-500"><%= form.object.errors[:image].first %></span>
    <% end %>
  </div>

<% end %>