<!DOCTYPE html>
<html lang="de">
<%= render "nav" %>
<main class=" xl:min-w-full xl:min-h-full">
    <h1>Kategorien</h1>
    <div class=" gap-16 flex flex-wrap">
      <% @categories.each do |category| %>
         <div class="category">
          <a href="<%= category_path(category) %>">
            <%= category.title %>
          </a>
        </div>
      <% end %>
        <!-- Weitere Kategorien hier einfügen -->
        <div class="category add-new-category">
            <a>
                <%= link_to "+", new_category_path %>
            </a>
        </div>
    </div>
</main>
<%= render "footer" %>
</html>
