<!DOCTYPE html>
<html lang="de">
  <div style="background-color: #ff9800;" class="h-screen flex items-center justify-center">
    <main>
      <h1 class="text-center mb-6 text-4xl font-bold"><%= t('categories') %></h1>
      <p class="text-center mb-10 text-lg"><%= t('category.text1') %></p>
      <div class="shadow-lg rounded-md p-12 w-max mx-auto">
        <div class="flex flex-wrap justify-center items-center gap-4">
          <% @categories.each_slice(3) do |category_row| %>
            <div class="flex flex-col w-54 h-54 md:flex-row justify-center md:h-full md:w-full">
              <% category_row.each do |category| %>
                <div class="rounded-md items-center p-2 w-md md:w-1/3 text-center m-4 flex flex-col justify-center transition-transform duration-300 ease-in-out hover:scale-105">
                  <a href="<%= shop_category_path(category.shop, category) %>" class="text-gray-800 hover:underline">
                    <%= category.title %>
                    <% if category.status == 'active' %>
                      <span class="blinking active"></span>
                    <% elsif category.status == 'deactivated' %>
                      <span class="blinking deactivated"></span>
                    <% end %>
                  </a>
                  <% if category.image.attached? && category.status == 'active' %>
                    <%= link_to image_tag(category.image.variant(:large), class: "mx-auto my-auto rounded-md"), shop_category_path(category.shop, category) %>
                  <% elsif category.status == 'deactivated' %>
                    <%= link_to image_tag(category.image.variant(:large), class: "mx-auto my-auto rounded-md deactivated-image"), shop_category_path(category.shop, category) %>
                  <% else %>
                    <%= image_tag 'placeholder.jpeg', class: "object-cover mx-auto my-auto rounded-md w-64 h-64 md:w-64 md:h-64" %>
                  <% end %>
                  <!-- Additional product details -->
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <button class=" w-40 text-center text-md p-4 mt-8 mb-4 bg-black rounded-md hover:-translate-y-1 hover:scale-110 duration-300 flex justify-center items-center mx-auto">
          <%= link_to t('category.add') , new_shop_category_path(@shop), class: "text-orange-500 hover:text-orange-200" %>
        </button>
      </div>
    </main>
  </div>
</html>
