<!DOCTYPE html>
<html lang="de">
<div>
<%= render "shared/nav" %>
<main>
  <h1 class="text-center mb-10">Kategorien</h1>
  <div class="flex flex-wrap justify-center items-center gap-4">
    <% @categories.each_slice(3) do |category_row| %>
      <div class="flex justify-center w-full">
        <% category_row.each do |category| %>
          <div class="bg-gray-200 rounded-md p-4 min-w-24 min-h-20 text-center m-5 flex flex-col justify-center">
            <a href="<%= category_path(category) %>" class="text-gray-800 hover:underline">
              <%= category.title %>
            </a>
          </div>
        <% end %>
      </div>
    <% end %>
    <!-- "add Kategorie" box -->
    <div class="bg-gray-200 order-4 rounded-md p-4 w-auto text-center m-5">
      <%= link_to new_category_path do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>
</main>





<%= render "shared/footer" %>

</div>
</html>
