<!DOCTYPE html>
<html lang="de">
<div>
  <main>
    <h1 class="text-center mb-10"><%= @category.title %></h1>
    <div class="flex flex-wrap justify-center items-start mt-10 min-h-screen max-w-m">
      <%= render @category.products %>
      <!-- Weitere Produkten hier einfügen (später als Link)-->
      <div class="bg-gray-200 flex flex-col rounded-md p-4 m-4 w-1/3 max-w-xs justify-center items-center">
        <%= link_to new_category_product_path(@category) do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>
      
  </main>

  <ul>
  <li><%= link_to t('category.edit'), edit_category_path(@category) %></li>
  <li><%= link_to t('category.delete'), category_path(@category), data: {
                  turbo_method: :delete,
                  turbo_confirm: t('category.delete_confirm')
                } %></li>
</ul>


</div>
</html>
