<h1><%= @category.title %></h1>

<ul>
  <li><%= link_to "Edit", edit_category_path(@category) %></li>
  <li><%= link_to "Destroy", category_path(@category), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Produkten</h2>

<%= render @category.products %>

<h2>Add a Product:</h2>

<%= render 'products/form' %>