<tr>
  <td><%= attr.name %></td>
  <td>
    <% value = pattr == nil ? '' : pattr.value %>
      <% if attr.attrtype == 'bool' %>
        <%= check_box_tag "check_id[]", attr.id, !value.empty? %>
      <% else %>
        <%= text_area_tag "attr_id[]", attr.id, hidden: true %>
        <%= text_area_tag "attr_val[]", value, class: "form-control rounded"%>
      <% end %>
  </td>
  <td><%= attr.unit %></td>
</tr>