<%= form_with model: [ @category, @category.products.build ] do |form| %>
  <p>
    <%= form.label :product %><br>
    <%= form.text_field :product %>
  </p>
  <p>
    <%= form.label :desc %><br>
    <%= form.text_area :desc %>
  </p>
  <p>
  <%= form.label :status %><br>
  <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
</p>

  <p>
    <%= form.submit %>
  </p>
<% end %>