<%= form_with model: [ @category, @category.products.build ] do |form| %>
  <p>
    <%= form.label :product %><br>
    <%= form.text_field :product, class: "form-control mt-2 rounded" %>
    <% if form.object.errors.has_key?(:product) %>
      <span class="text-red-500"><%= form.object.errors[:product].first %></span>
    <% end %>
  </p>
  <p>
    <%= form.label :desc %><br>
    <%= form.text_area :desc, class: "form-control mt-2 rounded"%>
    <% if form.object.errors.has_key?(:desc) %>
      <span class="text-red-500"><%= form.object.errors[:desc].first %></span>
    <% end %>
  </p>
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, class: "form-control mt-2 rounded" %>
  </div>
  <p>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
    <% if form.object.errors.has_key?(:status) %>
      <span class="text-red-500"><%= form.object.errors[:status].first %></span>
    <% end %>
  </p>
  <p class="pt-5">
    <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"%>
  </p>
<% end %>