<% unless product.archived? %>
  <div class="flex flex-col rounded-md p-4 gap-2 md:w-80 w-full h-full justify-center items-center overflow-hidden -z-1">
    <p>
      <strong><%= t('form_labels.product') %>:</strong>
      <%= product.product %>
    </p>
    <div class="w-full flex justify-center">
      <% if product.image.attached? %>
        <%= image_tag product.image.variant(:large), class: "mx-auto my-auto rounded-md" %>
      <% else %>
        <%= image_tag 'placeholder.jpeg', class: "object-cover w-64 h-64 mx-auto rounded-md" %>
      <% end %>
      <!-- Additional product details -->
    </div>

    <p>
      <strong><%= t('form_labels.description')%>:</strong>
    </p>
    <%= content_tag :div, product.desc, class: "text-center overflow-hidden h-20" %>

    <%# attributes %>
    <i>
    <% product.category.attrs.bool.active.each_with_index do |attr, i| %>
      <% unless product.product_attrs.where(attr_id: attr).empty? %>
        <%= attr.name %>
      <% end %>
    <% end %>
    </i>

    <table>
      <% product.category.attrs.numeric.active.each do |attr| %>
        <% unless product.product_attrs.where(attr_id: attr).empty? %>
          <tr>
            <td><%= attr.name + ": " %></td>
            <td><%= product.product_attrs.where(attr_id: attr).first.float_val %></td>
            <td><%= attr.unit %></td>
          </tr>
        <% end %>
      <% end %>
    </table>

    <table>
      <% product.category.attrs.text.active.each do |attr| %>
        <% unless product.product_attrs.where(attr_id: attr).empty? %>
          <tr>
            <td><%= attr.name + ": " %></td>
            <td><%= product.product_attrs.where(attr_id: attr).first.value %></td>
          </tr>
        <% end %>
      <% end %>
    </table>


    <% if controller.controller_name == "recommender" && controller.action_name == "articles" %>
      <div class="flex items-center mb-4">
        <label>
          <%= check_box_tag "product_ids[]", product.id %>
          <%= t('like_sign') %>
        </label>
      </div>
    <% end %>

    <% if controller.controller_name == "categories" %>
      <div class="flex p-2 items-center justify-center w-full gap-4">
        <button class="text-red-500 hover:text-red-700 max-w-1/2">
          <%= link_to t('product.delete'), shop_category_product_path(product.category.shop, product.category, product), data: {
                        turbo_method: :delete,
                        turbo_confirm: t('product.delete_confirm')
                      } , class: "text-red-500 hover:text-red-700 max-w-1/2"%>
        </button>
        <button class="text-blue-600 hover:text-blue-700 max-w-1/2">
          <%= link_to t('product.edit'), edit_shop_category_product_path(product.category.shop, product.category, product), data: {turbo: false} %>
        </button>
      </div>
    <% end %>
  </div>
<% end %>
