<% unless product.archived? %>
<div class="bg-gray-200 flex flex-col rounded-md p-4 m-4 w-1/3 max-w-xs justify-center items-center" >
 <p class="text-center">
    <strong>Product:</strong>
    <%= product.product %>
  </p>
      <div class="w-full flex justify-center">
      <% if product.image.attached? %>
        <%= image_tag product.image , class:"object-contain w-24 h-24 mx-auto" %>
      <% else %>
        <!-- Placeholder image or alternate content if no image is attached -->
        <%= image_tag 'placeholder.jpeg', class:"object-contain w-24 h-24 mx-auto" %>
      <% end %>
      <!-- Additional product details -->
    </div>

  <p class="text-center">
    <strong>Description:</strong>
    <%= product.desc %>
  </p>
   <p class="text-center">
    <%= link_to "(-)", [product.category, product], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
</div>
<% end %>