<% unless product.archived? %>
  <div class="flip-card-container">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="card-content">
            <p class="font-bold text-center">
              <strong><%= t('form_labels.product') %>:</strong> <%= product.product %>
            </p>
            <div class="image-container">
              <% if product.image.attached? %>
                <%= image_tag product.image.variant(:large), class: "product-image rounded-lg" %>
              <% else %>
                <%= image_tag 'placeholder.jpeg', class: "product-image-placeholder rounded-lg" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="flip-card-back">
          <div class="card-content rounded-md">
            <p class="font-bold text-black">
              <strong><%= t('form_labels.description') %>:</strong>
            </p>
            <div class="description-content">
              <%= content_tag :div, product.desc, class: "product-description" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if controller.controller_name == "recommender" && controller.action_name == "products" %>
      <% unless product.archived? %>
        <div class="like-button-container mt-10 text-center">
          <label class="like-button">
            <%= check_box_tag "product_ids[]", product.id %>
            <span class="like-icon"><i class="fas fa-thumbs-up"></i></span>
            <span class="liked-text text-lg"><%= t('product.like') %></span>
          </label>
        </div>
      <% end %>
    <% end %>

    <% if controller.controller_name == "categories" %>
      <div class="button-container">
        <button class="edit-button">
          <%= link_to edit_shop_category_product_path(product.category.shop, product.category, product), data: { turbo: false }, class: "edit-link" do %>
            <i class="fas fa-edit mr-2"></i> <%= t('product.edit') %>
          <% end %>
        </button>
        <button class="delete-button">
          <%= link_to shop_category_product_path(product.category.shop, product.category, product), data: { turbo_method: :delete, turbo_confirm: t('product.delete_confirm') }, class: "delete-link" do %>
            <i class="fas fa-trash-alt mr-2"></i> <%= t('product.delete') %>
          <% end %>
        </button>
      </div>
    <% end %>
  </div>
<% end %>
