<!DOCTYPE html>
<html>
  <head>
    <title><%= t('appname') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen flex flex-col overflow-x-hidden">
    <main class="flex-grow">

      <%= render "shared/nav" %>
      <%# ----- Display Flash Messages: ----- %>
      <% if notice %>
        <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative">
          <div><%= notice %></div>
        </div>
      <% end %>

      <% if alert %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative">
          <div><%= alert %></div>
        </div>
      <% end %>

      <%= yield %>
    </main>
      <%= render "shared/footer" %>
      <%= javascript_include_tag "file_preview" %>  
  </body>
</html>
